/*  your css code here. If applicable */
.hero{
	gap:20px;
	display:flex;
	justify-content:row-reverse;
	align-items:center;
    margin:30px
}
img{
	width:300px;
	height:300px;
	object-fit:cover;
}
button{
	padding:10px;
	background-color:pink;
	color:darkblue;
}
h1{
	font-size:large;
}

